[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
icrawler = "*"
tqdm = "*"
ultralytics = "*"
numpy = "*"
pandas = "*"
huggingface-hub = "*"
ipywidgets = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.13"
